@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.AzeretMono{
  font-family: "Azeret Mono", monospace,'Times New Roman', Times, serif;
}

/* Navbar styles */
.Navbar-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 150px 50px 150px;
}

.nav-header{
  font-size: 28px;
  font-weight: 800;
}

.nav-btn{
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 19, 33);
  background: transparent;
  border: 1px solid  rgb(30, 30, 30);
  border-radius: 8px;
  padding: 17px 24px;
  cursor: pointer;
}

/* BannerSection styles */

.banner{
  /* max-width: 1440px;
  max-height: 700px; */
  background-image: url(./assets/Hero-bg.png);
}

.banner-container{
  max-width: 998px;
  margin: 30px auto;

}

.banner-main-conten{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 3dvh;
}

.common-description{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

.banner-btn{
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
padding: 21px 24px;
background-color: rgb(13, 19, 33);
border-radius: 8px;
cursor: pointer;
}

/* 
Why development Section Style */

.development{
  margin: 50px 150px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 15px;
}

.common-title{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}

/* .development-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 90px;
} */

.development-header{
  text-align: center;
}

.step-title{
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.step-btn{
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px;
font-size: 20px;
font-weight: 600;
margin-top: 20px;
}

.step1{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 48px;
  gap: 30px;
}

.develop-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 90px;
}

.inpiration{
  text-align: center;
  margin: 50px 150px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 15px;
}

.video{
  margin-top:50px;
  width: 1000px;
}

.current-goal{
  text-align: center;
}

.card-container{
  margin: 80px 0px;
  padding: 0px 290px;
  display: flex;
  gap: 40px;
  justify-content: space-around;
}
.card1{
  background-color: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.card2{
  background-color: rgba(0, 76, 232, 0.05);
  padding: 40px;
}
.card3{
  background-color: rgba(255, 223, 0, 0.05);
  padding: 40px;
}

.common-description1{
  font-size: 16px;
  margin: 20px 0px;
}

.anchor{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}

.support{
  margin: 150px 150px;
  text-align: center;
  padding:100px;
  background-image:url(assets/handshake.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  color: white;
}

.input-1{
width: 548px;
height: 57px;
padding: 19px 20px 19px 20px;
margin: 0px 16px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
}

.input-2{
width: 120px;
height: 57px;
padding: 17px 20px 17px 20px;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
border-radius: 8px;
background: rgb(255, 255, 255);
}

.sup-des{
  margin-top: 20px;
}

.input-box{
  margin-top: 20px;
}

footer{
  margin:50px 150px;
  display: flex;
  justify-content: space-between;
}

.footer-icon a{
  margin-right: 24px;
}